<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <!-- To get personal NuGet feed url, refer to the https://nuget.devexpress.com/#feed-url link -->
    <add key="devexpress" value="http://nuget.devexpress.com/{YOUR_NUGET_FEED_URL}/api/" />
  </packageSources>
</configuration>