<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="DevExpressLocal64" value="C:\Program Files (x86)\DevExpress 17.2\Components\System\Components\packages" />
		<add key="DevExpressLocal86" value="C:\Program Files\DevExpress 17.2\Components\System\Components\packages" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>